VITE_SITE_URL=https://yourdomain.com

VITE_GTM_ID=GTM-XXXXXXX
VITE_GA4_ID=G-XXXXXXXXXX
VITE_GOOGLE_ADS_ID=AW-981549380

VITE_TIKTOK_PIXEL_ID=D8F0N1RC77UFK9KDTFB0
VITE_CLARITY_PROJECT_ID=XXXXXXXXXX

VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/mqejjvpy
VITE_CALENDLY_URL=https://calendly.com/nwankwosami/30min

VITE_ADSENSE_PUB_ID=
